{{#each products}}
  <div>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
    <p>Thumbnail: {{thumbnail}}</p>
    <p>Stock: {{stock}}</p>
    <p>Código: {{code}}</p>
    
  </div>
{{/each}}

<form id="productForm">
  <label for="productTitle">Título:</label>
  <input type="text" id="productTitle" required>

  <label for="productDescription">Descripción:</label>
  <input type="text" id="productDescription" required>

  <label for="productPrice">Precio:</label>
  <input type="number" min="1" max="10" id="productPrice" required>

  <label for="productThumbnail">Thumbnail:</label>
  <input type="text" id="productThumbnail" required>

  <label for="productStock">Stock:</label>
  <input type="number" min="1" max="500" id="productStock" required>

  <label for="productCode">Código:</label>
  <input type="text" id="productCode" required>


  <button type="submit">Agregar Producto</button>
</form>
